// Primary Colors
$base: #0a0a0a;
$main: #f4f4f4;
$mainLight: #fcfeff;
$accent: #dc9117;
$optionalBaseOne: #383737;
$optionalBaseTwo: #686868;
$optionalAccent: #e8a75e;
$optionalAccentlighter: #ebd5bd;
$lightText: white;
$accentDark: #674207;
$sectionBackground: #fdf5e7;
