@use "../../styles/partials/global";
@use "../../styles/partials/fonts";
@use "../../styles/partials/colors" as cl;
@use "../../styles/partials/breakpoints";

.carousel {
  width: 100vw;
  display: flex;
  background-color: black;
  justify-content: center;
  position: relative;

  &-item {
    width: 100vw;
    height: 500px;
    object-position: center;
    animation: 0.2s slide-left;
  }

  &-arrow {
    display: flex;
    cursor: pointer;
    z-index: 1;
  }
  &-btn {
    position: absolute;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: rgba(63, 66, 75, 0.503);
    width: 3rem;
    height: 3rem;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    &__left {
      left: 0;
      top: 45%;
    }
    &__right {
      right: 0;
      top: 45%;
    }
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
