@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_ExtraBold.otf") format("otf");
  font-weight: extraBold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler Stencil";
  src: url("../../assets/Butler-Font/Butler_Black_Stencil.otf") format("otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler Stencil";
  src: url("../../assets/Butler-Font/Butler_Regular_Stencil.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler Stencil";
  src: url("../../assets/Butler-Font/Butler_Ultra_Light_Stencil.otf") format("otf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Ultra_Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Ultra_Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../../assets/sub_fonts/AvertaDemo-Regular.woff2") format("woff2"), url("../../assets/sub_fonts/AvertaDemo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../../assets/sub_fonts/AvertaDemo-ExtraBoldItalic.woff2") format("woff2"), url("../../assets/sub_fonts/AvertaDemo-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "URWBaskervilleW";
  src: url("../../assets/fonts/URW-Baskerville-W01-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::after,
*::before {
  font-family: "Butler, Butler Stencil, Averta ";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

.carousel {
  width: 100vw;
  display: flex;
  background-color: black;
  justify-content: center;
  position: relative;
}
.carousel-item {
  width: 100vw;
  height: 500px;
  -o-object-position: center;
     object-position: center;
  animation: 0.2s slide-left;
}
.carousel-arrow {
  display: flex;
  cursor: pointer;
  z-index: 1;
}
.carousel-btn {
  position: absolute;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: rgba(63, 66, 75, 0.503);
  width: 3rem;
  height: 3rem;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
}
.carousel-btn__left {
  left: 0;
  top: 45%;
}
.carousel-btn__right {
  right: 0;
  top: 45%;
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}/*# sourceMappingURL=PicCarousel.css.map */