@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_ExtraBold.otf") format("otf");
  font-weight: extraBold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler Stencil";
  src: url("../../assets/Butler-Font/Butler_Black_Stencil.otf") format("otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler Stencil";
  src: url("../../assets/Butler-Font/Butler_Regular_Stencil.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler Stencil";
  src: url("../../assets/Butler-Font/Butler_Ultra_Light_Stencil.otf") format("otf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Ultra_Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Ultra_Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../../assets/sub_fonts/AvertaDemo-Regular.woff2") format("woff2"), url("../../assets/sub_fonts/AvertaDemo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../../assets/sub_fonts/AvertaDemo-ExtraBoldItalic.woff2") format("woff2"), url("../../assets/sub_fonts/AvertaDemo-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "URWBaskervilleW";
  src: url("../../assets/fonts/URW-Baskerville-W01-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::after,
*::before {
  font-family: "Butler, Butler Stencil, Averta ";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

.createNew {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.createNew__content {
  width: 60%;
  display: flex;
  flex-direction: column;
  font-family: "Averta";
}
.createNew__content__box {
  display: flex;
  flex-direction: column;
}
.createNew__content__label {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  font-weight: 500;
}
.createNew__content__input {
  padding: 0.25rem;
}
.createNew__content__input::-moz-placeholder {
  padding-left: 0.5rem;
}
.createNew__content__input::placeholder {
  padding-left: 0.5rem;
}
.createNew__content__input-title {
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 0.5rem 0rem 0.5rem 1rem;
  font-family: "Averta";
}
.createNew__sideMenu {
  margin: 2rem 2rem;
  width: 10%;
  display: flex;
  flex-direction: column;
}
.createNew__sideMenu__title {
  margin-bottom: 0.75rem;
}
.createNew__category {
  margin-bottom: 6rem;
}
.createNew__category__item {
  margin-bottom: 0.5rem;
}
.createNew__upload {
  display: flex;
  margin-bottom: 1rem;
}
.createNew__btns {
  align-items: center;
  padding: 4px 12px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #383737;
  color: #383737;
  border-radius: 5px;
}
.createNew__btns__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.createNew__btns:hover {
  border: 1px solid #686868;
  background-color: #686868;
  color: white;
}

input::file-selector-button {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #383737;
}
input::file-selector-button:active {
  color: #dc9117;
  border: 1px solid #dc9117;
}

.ql-snow * {
  font-family: "Averta";
}

label {
  margin-left: 0.5rem;
}/*# sourceMappingURL=CreateNew.css.map */