@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_ExtraBold.otf") format("otf");
  font-weight: extraBold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler Stencil";
  src: url("../../assets/Butler-Font/Butler_Black_Stencil.otf") format("otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler Stencil";
  src: url("../../assets/Butler-Font/Butler_Regular_Stencil.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler Stencil";
  src: url("../../assets/Butler-Font/Butler_Ultra_Light_Stencil.otf") format("otf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Ultra_Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Ultra_Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../../assets/sub_fonts/AvertaDemo-Regular.woff2") format("woff2"), url("../../assets/sub_fonts/AvertaDemo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../../assets/sub_fonts/AvertaDemo-ExtraBoldItalic.woff2") format("woff2"), url("../../assets/sub_fonts/AvertaDemo-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "URWBaskervilleW";
  src: url("../../assets/fonts/URW-Baskerville-W01-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::after,
*::before {
  font-family: "Butler, Butler Stencil, Averta ";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

.next {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.next__section {
  font-size: 1.7rem;
}
.next__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.next__article__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=NextList.css.map */