@use "../../styles/partials/global";
@use "../../styles/partials/mixin" as mx;
@use "../../styles/partials/fonts";
@use "../../styles/partials/colors" as cl;
@use "../../styles/partials/breakpoints" as bk;

.header {
  display: flex;
  flex-direction: column;
  &-top {
    height: 40px;
    position: fixed;
    width: 100vw;
    background-color: cl.$base;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0 2rem;
    font-weight: 300;
    gap: 0 13px;
    z-index: 1;
    &-mobileSize {
      background-color: #eebe67;
      display: flex;
      position: fixed;
      width: 100vw;
      z-index: 1;
      color: white;
      height: 3.35rem;
      padding: 0 3rem;
    }
    &__left {
      justify-content: left;
      width: 80%;
      display: flex;
      gap: 1.25rem;
    }
    &__right {
      width: 20%;
      display: flex;
      justify-content: right;
      gap: 1.25rem;
    }
    &__text {
      margin: auto 0;
    }

    &__link {
      list-style-type: none;
      list-style-type: none;
      &:visited {
        list-style-type: none;
        list-style-type: none;
        color: white;
      }
      &__container {
        display: flex;
        align-items: baseline;
        gap: 1.25rem;
      }
    }
  }

  &-bottom {
    @include bk.phone {
      display: none !important;
    }
    @include bk.tablet {
      display: none !important;
    }
    @include bk.laptop {
      // @include mx.order;
      padding: 0 3rem;
    }
    display: flex;
    font-family: "EB Garamond", serif;
    font-style: italic;
    font: 1.75rem;
    justify-content: center;
    height: 13rem;
    padding: 0 12rem;
    width: 100vw;

    &__title {
      margin: auto auto;
      padding-top: 1.5rem;
      margin: auto auto;
      color: cl.$base;
      &:visited {
        color: cl.$base;
      }
      &-txt {
        font-size: 2rem;
      }
      &-mobileSize {
        font-size: 2rem;
      }
      &Box {
        display: flex;
        min-width: 40%;
        max-width: 40%;
      }
    }
    &__subNav {
      width: 40%;
      display: flex;
      align-items: center;
      padding-top: 1.25rem;
      justify-content: space-between;
      font-style: normal;
      font-size: 1.25rem;
      gap: 1rem;
      font-family: "Butler, Butler Stencil, Averta";

      @include bk.laptop {
        max-width: 23%;
        min-width: 23%;
      }
      @include bk.desktop {
        max-width: 27%;
        min-width: 25%;
      }
      @include bk.xl-monitor {
        max-width: 27%;
        min-width: 26%;
      }
      &Link {
        text-decoration: none;
      }
      &__menu {
        color: black;
      }
    }
  }

  &-mobileBttm {
    @include bk.laptop {
      display: none !important;
    }
    @include bk.desktop {
      display: none !important;
    }
    @include bk.xl-monitor {
      display: none !important;
    }
    display: flex;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
    &-menu {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      // height: 3.5rem;
      padding: 0.5rem;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      background: hsl(0, 0%, 100%);
      box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
      z-index: 1;
      &List {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: hsl(0, 0%, 10%);
        list-style-type: none;
        &__item {
          display: flex;
          align-items: center;
          justify-content: center;
          &-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
            color: hsl(0, 0%, 10%);
            width: 20%;
          }
          &-name {
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.25;
          }
        }
      }
    }
  }
}

// .login,
// .logout {
//   display: flex;
//   &-txt {
//     transform: translateY(1rem);
//     font-size: 1.25rem;
//     height: 3.5rem;
//   }
// }
.logout,
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: black;
}
