@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_ExtraBold.otf") format("otf");
  font-weight: extraBold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler Stencil";
  src: url("../../assets/Butler-Font/Butler_Black_Stencil.otf") format("otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler Stencil";
  src: url("../../assets/Butler-Font/Butler_Regular_Stencil.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler Stencil";
  src: url("../../assets/Butler-Font/Butler_Ultra_Light_Stencil.otf") format("otf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Ultra_Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/Butler-Font/Butler_Ultra_Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../../assets/sub_fonts/AvertaDemo-Regular.woff2") format("woff2"), url("../../assets/sub_fonts/AvertaDemo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Averta";
  src: url("../../assets/sub_fonts/AvertaDemo-ExtraBoldItalic.woff2") format("woff2"), url("../../assets/sub_fonts/AvertaDemo-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "URWBaskervilleW";
  src: url("../../assets/fonts/URW-Baskerville-W01-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::after,
*::before {
  font-family: "Butler, Butler Stencil, Averta ";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: center;
  margin: auto auto;
  width: 100vw;
}
@media (max-width: 575.98px) {
  .navbar {
    display: none !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar {
    display: none !important;
  }
}
.navbar__container {
  width: 100vw;
  padding: 10px 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #383737;
  border-top: 1px solid #383737;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}
.navbar__list__item {
  font-size: 0.89rem;
  font-weight: 300;
}
.navbar__list__link {
  text-decoration: none;
  list-style-type: none;
  color: #383737;
}
.navbar__list__link:hover {
  background-color: #e8a75e;
  color: white;
}
.navbar__list__text {
  cursor: pointer;
}
.navbar__list__post {
  background-color: #dc9117;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  border: 1px solid white;
}
.navbar__list__post:hover {
  color: #fcfeff;
  background-color: #e8a75e;
  border: 1px solid #e8a75e;
}/*# sourceMappingURL=Navbar.css.map */